<app-breadcrumbs
  [breadcrumbs$]="breadcrumbService.breadcrumbs"
></app-breadcrumbs>

<section *ngIf="(post$ | async) as topic">
  <h1> {{ topic.name }}</h1>
  <ng-container *ngIf="topic.posts">
    <div class="bg-base-200" *ngFor="let post of topic.posts">
      <app-post [post]="post"></app-post>
    </div>
  </ng-container>
</section>
<ng-container *ngIf="canQuickRespond()">
  <form [formGroup]="contentForm">
    <ckeditor [editor]="Editor" [config]="ckService.config" [data]="ckService.editorData" formControlName="contentControl"></ckeditor>
    <button class="btn btn-primary" (click)="save()">Valider</button>
    <button class="btn btn-primary" (click)="preview()">Prévisualiser</button>
  </form>
</ng-container>


