<ng-container *ngIf="(content$ | async)  as content">
  <div class="hero  bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <div>
        <p>Author</p>
        <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
             class="max-w-sm rounded-lg shadow-2xl"/>
      </div>
      <div>
        <p>Posté le {{ now| date: 'medium' }}</p>
        <p class="py-6" [innerHTML]="content"></p>
      </div>
    </div>
  </div>
</ng-container>
<form [formGroup]="contentForm">
  <ckeditor [editor]="Editor" [config]="ckService.config" [data]="ckService.editorData" formControlName="contentControl"></ckeditor>
  <button class="btn btn-primary" (click)="save()">Valider</button>
  <button class="btn btn-primary" (click)="preview()">Prévisualiser</button>
</form>
